/*
dark:#011627;
rose: #ff3366;
bluepetrol: 2ec4b6;
gris: f6f7f8
blue:20a4f3
*/
:root {
    --primary-color: #20a4f3;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --grey-color: #DEDEDE;

    --primary-bgcolor: #011627;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav ul {
    display: flex;    
    justify-content: center;
    align-items: center;
    background-color: var(--primary-bgcolor);
}
nav li {
    padding:10px 25px;
}
nav li a {
    color: var(--white-color);    
}



h2 {
    background-color: var(--primary-color);
    color: var(--white-color);
}

main {
    display: grid;
    grid-template-columns: auto 300px;
}

aside a {
    color:var(--black-color);
}
aside li {
    border:1px solid var(--black-color);
}
footer {
    background-color:var(--primary-bgcolor);
    color: var(--white-color);
}
footer a {
    color:var(--white-color);
}
/* CUSTOM STYLES */
.max-width {
    width: 960px;;
}
.mx-auto {
    margin: 0 auto;
}
.p20 {
    padding:20px;
}
.p10 {
    padding:10px;
}
.mt20 {
    margin-top:20px;
}
.ml20 {
    margin-left:20px;
}
.br10 {
   border-radius:10px;
}
.b1 {
    border:1px solid var(--grey-color);
}
.text-center {
    text-align: center;
}